@import url(global.scss);

/* Layout */
.brand img {
    margin: 2rem auto;
}

.app-title {
    font: var(--font-semibold) var(--display-sm) var(--font-family);
    color: var(--gray-900);
    text-align: center;
}

#errorMsg {
    font: var(--font-regular) var(--text-sm) var(--font-family);
    color: crimson;
}

input {
    width: 100%;
}

.result-holder {
    margin-top: 2rem;
    padding: 1rem;
    font: var(--font-semibold) var(--text-lg) var(--font-family);
    background: var(--primary-100);
}

.result-title {
    font: var(--font-semibold) var(--display-xs) var(--font-family);
    color: var(--primary-600);
    margin-bottom: 1rem;
}

#result {
    font: var(--font-semibold) var(--text-xl) var(--font-family);
}

.result-head {
    display: inline-block;
    width: 10rem;
}

footer {
    font: var(--font-semibold) var(--text-sm) var(--font-family);
    /*color: var(--primary-600);*/
    background: var(--gray-100);
    margin-top: 3rem;
    /*color: white;*/
    text-align: center;
    padding: 0.5rem;
}
